/.gradle/
/.idea/caches/deviceStreaming.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/androidTestResultsUserPreferences.xml
/.idea/deploymentTargetSelector.xml
/.idea/vcs.xml
/app/build/
/local.properties
ExampleUnitTest.kt
ExampleInstrumentedTest.kt
*.tmp